---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Miscellaneous";
---

<BaseLayout pageTitle = {pageTitle}>
  <h2>My super layout?</h2>
  <ul>
    <li>Master's thesis</li>
    <li>Research internship</li>
  </ul>
  <p>My skills are:</p>

  <a href="./blog/20260303-helloworld">My blog</a>
</BaseLayout>
