---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Research";
---

<BaseLayout pageTitle = {pageTitle}>
  <div class="my-4">
    <h2 class="text-ctp-peach text-3xl font-semibold leading-normal">Research interests</h2>

    <p class="my-4">
      I am interested in elliptic curves and more generally abelian varieties arithmetic,
      by looking at operations on the derived Kummer variety. These objects are widely used
      in pre- and post-quantum cryptography via isogenies.
    </p>

    <p class="my-4">
      During my thesis, I mainly focused on studying doubling and differential addition on various
      Kummer line models associated to an elliptic curve. This was done through a unified framework, 
      enabling us to recover efficient old and new formulas. The methods we used are based on Mumford's
      theta group theory, a geometric object from which we can derive algebraic theta functions, a
      universal system of coordinates on abelian varieties. Hence, the techniques used in my
      thesis can be generalized to higher dimension and should provide improvements to the
      arithmetic.
    </p>

    <p class="my-4">
      I also studied various simple criteria based on Galois representations to determine whether or not
      a given elliptic curve have a certain model of Kummer line.
    </p>
  </div>

  <div class="my-4">
    <h2 class="text-ctp-peach text-3xl font-semibold leading-normal">Publications</h2>

    <p class="my-4">
      Below is a list of published papers, pre-prints, slides of given talks and other related documents.
    </p>

    <div class="my-4">
      <h3 class="text-2xl font-semibold leading-normal">Published papers</h3>

      <ul>
        <li>halfdiffadd</li>
        <li>2-iso</li>
      </ul>
    </div>

    <div class="my-4">
      <h3 class="text-2xl font-semibold leading-normal">Pre-prints</h3>

      <ul>
        <li>bin-iso</li>
        <li>galois</li>
      </ul>
    </div>

    <div class="my-4">
      <h3 class="text-2xl font-semibold leading-normal">Given talks</h3>

      <ul>
        <li>grace</li>
        <li>phd defense</li>
        <li>jc2 25</li>
        <li>tout sur l'ancienne page</li>
      </ul>
    </div>

    <div class="my-4">
      <h3 class="text-2xl font-semibold leading-normal">Thesis</h3>

      <ul>
        <li>Master's thesis</li>
        <li>Research internship</li>
      </ul>
    </div>

    <div class="my-4">
      <h3 class="text-2xl font-semibold leading-normal">Misc</h3>

      <ul>
        <li>Master's thesis</li>
        <li>Research internship</li>
      </ul>
    </div>
  </div>
</BaseLayout>
