---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Research";
---

<BaseLayout pageTitle = {pageTitle}>
  <div class="">
    <h2 class="text-ctp-peach text-3xl font-semibold leading-normal">Research interest</h2>
  </div>
  <ul>
    <li>Master's thesis</li>
    <li>Research internship</li>
  </ul>
  <p>My skills are:</p>
</BaseLayout>
