---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Teaching";
---

<BaseLayout pageTitle = {pageTitle}>
  <div>
    <p>Here are the classes where I gave exercise sessions:</p>
  </div>
  <div>
    <h2>Web programming (Polytechnique Bachelor, 2025-2026)</h2>
    <h2>Mathématiques 1A (IUT GMP de Bordeaux, 2024-2025)</h2>
    <h2> 2A (IUT GMP de Bordeaux, 2024-2025)</h2>
    <h2>Excel 1A (IUT GMP de Bordeaux, 2024-2025)</h2>
    <h2>Analyse L1 (Université de Bordeaux, 2022-2024)</h2>
    <h2>Outils Mathématiques L1 (Université de Bordeaux, 2022-2024)</h2>
  </div>
</BaseLayout>
