---
import BaseLayout from "../layouts/BaseLayout.astro";
import Course from "../components/Course.astro";

const pageTitle = "Teaching";
const lastUpdated = 0;
---

<BaseLayout pageTitle={pageTitle} lastUpdated={lastUpdated}>
  <div>
    <p>Here are the classes where I gave exercise sessions (most of these are in French):</p>
  </div>
  <div>
    <ul class="list-disc list-inside ml-2 mt-2">
      <Course
        date="2025-2026" 
        course="Web programming"
        year="1st year"
        language="en"
        place="Polytechnique Computer Science bachelor"
      />

      <Course
        date="2024-2025" 
        course="Mathématiques"
        year="1ère année"
        language="fr"
        place="IUT Génie Mécanique et Productique de Bordeaux"
      />

      <Course
        date="2024-2025" 
        course="Excel"
        year="1ère année"
        language="fr"
        place="IUT Génie Mécanique et Productique de Bordeaux"
      />

      <Course
        date="2024-2025" 
        course="Algèbre linéaire & Équations différentielles"
        year="2ème année"
        language="fr"
        place="IUT Génie Mécanique et Productique de Bordeaux"
      />

      <Course
        date="2022-2024" 
        course={{url: "/teaching/analyse", name: "Analyse"}}
        year="L1"
        language="fr"
        place="Université de Bordeaux"
      />

      <Course
        date="2022-2024" 
        course={{url: "/teaching/outils-math", name: "Outils mathématiques"}}
        year="L1"
        language="fr"
        place="Université de Bordeaux"
      />
    </ul>
  </div>
</BaseLayout>
