---
import Social from "./Social.astro";
---


<footer class="text-center font-light text-sm">
  <ul class="flex justify-center">
    <li class="px-4 border-r-2">
      <Social platform="github.com" platformName="GitHub" username="nicolassarkis" icon = "github"/>
    </li>
    <li class="px-4">
      <Social platform="gitlab.inria.fr" platformName="Gitlab (Inria)" username="nsarkis" icon = "gitlab"/>
    </li>
  </ul>

  <p class="mt-2">
    Header photo by <a href="https://unsplash.com/@funkmastacrump">McKayla Crump</a>
    on <a href="https://unsplash.com/photos/northern-lights-3OR-XFzKSBo">Unsplash</a>,
    re-colored with <a href="https://github.com/ozwaldorf/lutgen-rs">Lutgen</a>
  </p>

  <ul class="flex justify-center mt-2">
    <li class="px-4 border-r-2">
      Built with <a href="https://astro.build/">Astro</a>
    </li>
    <li class="px-4">
      Using
      <a href="https://catppuccin.com/">Catppuccin</a>
      color palette
    </li>
  </ul>

  <p class="mt-2">Last updated: 2026-03-03 23:04</p>
</footer>
