---
import Social from "./Social.astro";
---

<footer>
  <Social platform="github.com" platformName="GitHub" username="nicolassarkis" icon = "github"/>
  |
  <Social platform="inria.gitlab.fr" platformName="Gitlab (Inria)" username="nsarkis" icon = "gitlab"/>
  <p>Built with <a href="https://astro.build/">Astro</a></p>
  <p>Last updated: 2026-03-03 19:24</p>
  <p>Header photo by <a href="https://unsplash.com/@funkmastacrump">McKayla Crump</a> on <a href="https://unsplash.com/photos/northern-lights-3OR-XFzKSBo">Unsplash</a>, recolored with <a href="https://github.com/ozwaldorf/lutgen-rs">Lutgen</a></p>
  <p>Color palette: Catppuccin Macchiato</p>
</footer>
