---
---

<ul class="flex justify-center">
  <li class="w-24 border-r-2">
    <a href="/" class="hover:font-semibold">Home</a>
  </li>
  <li class="w-28 border-r-2">
    <a href="/research" class="hover:font-semibold">Research</a>
  </li>
  <li class="w-28 border-r-2">
    <a href="/teaching" class="hover:font-semibold">Teaching</a>
  </li>
  <!-- <li class="w-28 border-r-2"> -->
  <!--   <a href="/teaching" class="hover:font-semibold">CV</a> -->
  <!-- </li> -->
  <li class="w-20">
    <a href="/misc" class="hover:font-semibold">Misc</a>
  </li>
</ul>
