---
const nav = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/research",
    name: "Research",
  },
  {
    href: "/teaching",
    name: "Teaching",
  },
  {
    href: "/misc",
    name: "Misc",
  },
]
---

<ul class="flex justify-center">
  {nav.map((link) =>
    <li class="px-4 border-r-2 last:border-r-0">
    <a href={link.href} class="font-medium">{link.name}</a>
    </li>
  )}
</ul>
