---
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>Nicolas Sarkis | {pageTitle}</title>
	</head>

	<body class="bg-ctp-base text-ctp-text m-4 sm:m-6 lg:m-10 font-sans">
    <Header pageTitle={pageTitle} />
    <div class="my-4 sm:mx-4">
      <h1 class="sm:hidden text-ctp-peach text-4xl text-center font-semibold">{pageTitle}</h1>
      <slot />
    </div>
    <Footer />
	</body>
</html>
