---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Analyse";
const lastUpdated = 1772571907;
---

<BaseLayout pageTitle={pageTitle} lastUpdated={lastUpdated}>
  Quelques notes manuscrites que j'ai faites pour ce cours:
  <ul class="list-disc list-inside ml-2 mt-2">
    <li><a href="/files/teaching/analyse/cesaro.pdf">Une preuve du théorème de Césaro</a></li>
    <li><a href="/files/teaching/analyse/exo-suites.pdf">Quelques exercices plus avancés sur les suites</a></li>
    <li><a href="/files/teaching/analyse/critere-adh.pdf">Un critère pour les valeurs d'adhérence</a></li>
    <li><a href="/files/teaching/analyse/adh-cos.pdf">Valeurs d'adhérences des suites (cos n)_n et (sin n)_n</a></li>
    <li><a href="/files/teaching/analyse/dm.pdf">Devoir-maison</a>,
      <a href="/files/teaching/analyse/corrige-dm.pdf">corrigé</a>
    </li>
  </ul>
</BaseLayout>
