---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Outils mathématiques";
const lastUpdated = 0;
---

<BaseLayout pageTitle={pageTitle} lastUpdated={lastUpdated}>
  Quelques notes manuscrites que j'ai faites pour ce cours:
  <ul class="list-disc list-inside ml-2 mt-2">
    <li><a href="/files/teaching/oma/polydeg2.pdf">Polynômes de degré 2</a></li>
    <li><a href="/files/teaching/oma/revisions.pdf">Exercices de révisions</a></li>
    <li><a href="/files/teaching/oma/methodes.pdf">Méthodes sur les différents chapitres</a></li>
  </ul>
</BaseLayout>
